.container {
  font-size: 100px;
  text-align: center;
  color: white;
  background-image: linear-gradient(black, teal, black);
  opacity: 0.3;
  padding: 0px 100px;
  border-radius: 100px;
}
#box {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background-size: cover;
  background-position: center;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
#date {
  color: blanchedalmond;
  font-size: 70px;
  margin: 0;
  padding: 0;
}
