.container{
    font-size: 100px;
    text-align: center;
    color:white;
}
#box{
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background-size: cover;
    background-position: center;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }